 <h1>Team Name: <%= @team.name%></h1>
<h2>Team Motto:<%=@team.motto%></h2>
<br>
<h2>Hero Name:<%=@heros.first.name%></h2>
<br>
<p>Hero Power:<%=@heros.first.power%></p>
<p>Hero Biography:<%=@heros.first.bio%></p>
<br>
<p>Hero Power:<%=@heros.second.power%></p>
<p>Hero Biography:<%=@heros.second.bio%></p>
<br>
<p>Hero Power:<%=@heros.last.power%></p>
<p>Hero Biography:<%=@heros.last.bio%></p>
<br>

